#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  padding: 5px 1em;
  overflow: hidden;
  text-wrap: nowrap;

  /* sticky css */
  position: sticky;
  top: 0;
  align-self: start;

  > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    cursor: unset;

    .logo {
      font-weight: 600;
    }

    #toggle-btn {
      margin-left: auto;
      padding: 1em;
      border: none;
      border-radius: .5em;
      background: none;
      cursor: pointer;

      i {
        transition: rotate 150ms ease;
      }
    }

    #toggle-btn:hover {
      background-color: var(--hover-clr);
    }
  }

  li {
    list-style: none;
    cursor: pointer;

    > a:hover, .dropdown-btn:hover {
      color: var(--accent-clr);
      background-color: var(--hover-clr);
    }

    a span,
    .dropdown-btn span {
      flex-grow: 1;
    }

    a, .dropdown-btn, .logo {
      border-radius: .5em;
      padding: .85em;
      color: inherit;
      display: flex;
      gap: 1em;
      align-items: center;
    }

    .dropdown-btn {
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;
      font: inherit;
      text-align: left;
    }
  }

  i {
    width: 24px;
    flex-shrink: 0;
    color: var(--text-clr);
  }

  .sub-menu {
    overflow: hidden;
    padding-left: 2em;
  }
}

.active {
  color: var(--accent-clr) !important;
}

.dropdown-btn i {
  transition: 200ms ease;
}

.rotate {
  rotate: 180deg;
}