<nav id="sidebar">
  <ul>
    <li>
      <span class="logo">coding2go</span>
      <button id="toggle-btn">
        <i class="fa-solid fa-bars"></i>
      </button>
    </li>
    <li class="active">
      <a routerLink="index">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="dashboard">
        <i class="fa-solid fa-gauge"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <button class="dropdown-btn">
        <i class="fa-solid fa-plus"></i>
        <span>Create</span>
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <ul class="sub-menu">
        <li>
          <a href="#">Folder</a>
          <a href="#">Document</a>
          <a href="#">Project</a>
        </li>
      </ul>
    </li>
    <li>
      <button class="dropdown-btn">
        <i class="fa-solid fa-plus"></i>
        <span>Todo-Lists</span>
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <ul class="sub-menu">
        <li>
          <a href="#">Work</a>
          <a href="#">Private</a>
          <a href="#">Coding</a>
          <a href="#">Gardening</a>
          <a href="#">School</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="calendar">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Calendar</span>
      </a>
    </li>
    <li>
      <a routerLink="profile">
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
      </a>
    </li>
  </ul>
</nav>

<h2><i class="fa-solid fa-check"></i></h2>
