<nav id="sidebar" [@slideSidebar]="sidebarShow ? 'open' : 'close'">
  <ul>
    <li>
      <span class="logo">coding2go</span>
      <button id="toggle-btn" (click)="toggleSidebar()">
        <i class="fa-solid fa-angles-right" [class.rotate]="sidebarShow"></i>
      </button>
    </li>
    <li routerLink="index" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </a>
    </li>
    <li routerLink="dashboard" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-gauge"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <button (click)="toggleSubMenu('create')" class="dropdown-btn">
        <i class="fa-solid fa-folder-plus"></i>
        <span>Create</span>
        <i
          class="fa-solid fa-chevron-down"
          [class.rotate]="subMenuStates['create']"
        ></i>
      </button>
      <ul
        class="sub-menu"
        [@slideDown]="subMenuStates['create'] ? 'open' : 'close'"
      >
        <li routerLink="create/folder" routerLinkActive="active">
          <a>Folder</a>
        </li>
        <li routerLink="create/document" routerLinkActive="active">
          <a>Document</a>
        </li>
        <li routerLink="create/project" routerLinkActive="active">
          <a>Project</a>
        </li>
      </ul>
    </li>
    <li>
      <button (click)="toggleSubMenu('todoList')" class="dropdown-btn">
        <i class="fa-solid fa-list-ul"></i>
        <span>Todo-Lists</span>
        <i
          class="fa-solid fa-chevron-down"
          [class.rotate]="subMenuStates['todoList']"
        ></i>
      </button>
      <ul
        class="sub-menu"
        [@slideDown]="subMenuStates['todoList'] ? 'open' : 'close'"
      >
        <li routerLink="todo-list/work" routerLinkActive="active">
          <a>Work</a>
        </li>
        <li routerLink="todo-list/private" routerLinkActive="active">
          <a>Private</a>
        </li>
        <li routerLink="todo-list/coding" routerLinkActive="active">
          <a>Coding</a>
        </li>
        <li routerLink="todo-list/gardening" routerLinkActive="active">
          <a>Gardening</a>
        </li>
        <li routerLink="todo-list/school" routerLinkActive="active">
          <a>School</a>
        </li>
      </ul>
    </li>
    <li routerLink="calendar" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-calendar-days"></i>
        <span>Calendar</span>
      </a>
    </li>
    <li routerLink="profile" routerLinkActive="active">
      <a>
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
      </a>
    </li>
  </ul>
</nav>
